@mixin media($screen-description) {
  @if $screen-description == 'sm' {
    @media (max-width: map-get($breakpoints, $screen-description)) {
      @content;
    }
  }
  @else {
    @media (min-width: map-get($breakpoints, $screen-description)) {
      @content;
    }
  }
}

@mixin media-forall($property, $values) {
  #{$property}: #{map-get($values, 'sm')};
  @each $screen, $value in $values {
    @if $screen != 'sm' {
      @include media($screen) {
        #{$property}: #{$value};
      }
    }
  }
}

@mixin flex($dir: row, $just: space-between, $align: center, $wrap: wrap) {
  display: flex;
  flex-direction: $dir;
  justify-content: $just;
  align-items: $align;
  flex-wrap: $wrap;
}
