// Typography
$width-of-page: (
  'lg': 70%,
  'md': 75%,
  'sm': 80%
);
$num-photos-per-row: (
  'lg': 4,
  'md': 2,
  'sm': 1
);
$height-searchbox-container: 100px;
$height-searchbox: 40px;
$photo-gutter: 25px;

// Fonts:
$font-family: 'Roboto Slab', sans-serif;
$font-size-primary: 25px;
$font-size-secondary: 20px;

// Colors
$color-bg-primary: #e6f2ff;
$color-bg-lightbox: #c9f;
$color-searchbox-bg: #ffb3b3;
$color-searchbox-bd: #ff66d9;
$color-txt-primary: #c0c;
$color-txt-secondary: #f3f;
$color-photo-bg-primary: #e0b3ff;
$color-photo-bg-lightbox: #ccffb3;

// Animation
$transition-time: 750;

// Breakpoints
$screen-types: ('sm', 'md', 'lg');
$breakpoints: (
  'sm': 480px,
  'md': 768px,
  'lg': 1024px
)
