// Typography
$width-of-page: (
  'lg': 70%,
  'md': 75%,
  'sm': 80%
);
$num-photos-per-row: (
  'lg': 4,
  'md': 2,
  'sm': 1
);
$height-searchbox-container: 100px;
$height-searchbox: 40px;
$photo-gutter: 40px;

// Fonts:
$font-family: 'Roboto Slab', sans-serif;
$font-size-primary: 30px;
$font-size-secondary: 25px;

// Colors
$bg-primary: url("../images/wall.jpg");
$color-bg-lightbox: black;
$color-searchbox-bg: #c2d6d6;
$color-searchbox-bd: #b8b894;
$color-txt-primary: #33c;
$color-txt-secondary: #5c5cd6;
$color-txt-shadow: grey;
$color-photo-frame-primary: grey;
$color-photo-frame-lightbox: #ccffb3;
$color-btn: white;

// Animation
$transition-time: 750ms;

// Breakpoints
$screen-types: ('sm', 'md', 'lg');
$breakpoints: (
  'sm': 480px,
  'md': 768px,
  'lg': 1024px
)

// Lightbox
// $photo-lb-size:
