.slb {
  &Overlay {
    background-color: $color-bg-lightbox;
    opacity: 1;
  }

  &Image {
    position: static;
    width: auto;
    height: auto;
    background-color: white;
    background-image: url('../images/photo-frame.png');
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    padding-left: $photo-frame-gutter-x;
    padding-right: $photo-frame-gutter-x;
    padding-top: $photo-frame-gutter-y;
    padding-bottom: $photo-frame-gutter-y;
    box-shadow: none;
      max-width: 75%;
      max-height: 60%;
    // @include media('md') {
    //   max-width: 85%;
    //   max-height: 68%;
    // }
    // @include media('lg') {
    // }
    &Wrap {
      height: 99.9vh;
      @include flex($dir: column, $just: center, $wrap: nowrap);
      width: 80vw;
      @include media('md') {
        width: 70vw;
      }
      @include media('lg') {
        width: 60vw;
      }
      &::after {
        background: none;
        box-shadow: none;
      }
    }
  }

  &Caption {
    display: block;
    position: static;
    margin-top: 0;
    margin-bottom: 0;
    overflow-wrap: break-word;
    white-space: normal;
    word-wrap: break-word;
    text-align: center;
    overflow: visible;
    transition: font-size $transition-time linear,
                font-weight $transition-time linear;
    color: $color-txt-description;
    font-family: $font-family-description;
    font-size: $font-size-lightbox - 5;
    font-weight: 100;
    width: 80%;
    @include media('md') {
      font-size: $font-size-lightbox - 2.5;
      font-weight: normal;
      width: 70%;
    }
    @include media('lg') {
      font-size: $font-size-lightbox;
      font-weight: normal;
      width: 60%;
    }
  }

  &Arrows {
    position: absolute;
  }

  &Arrow {
    transition: background-color 0.3s linear;
    &[class^="prev"] {
      @include lightbox-btn-position('left');
      &::before {
        border-right-color: $color-btn;
        @include lightbox-btn-size;
      }
    }
    &[class^="next"] {
      @include lightbox-btn-position('right');
      &::before {
        border-left-color: $color-btn;
        @include lightbox-btn-size;
      }
    }
    &:focus {
      outline: none;
    }
  }

  &CloseBtn  {
    color: $color-btn;
    @include lightbox-btn-size;
    @include lightbox-btn-position('right', $val-lg: 10%, $val-md: 10%, $val-sm: 10%);
    &:focus {
      outline: none;
    }
  }
}
