.searchbox {
  text-align: center;
  background-color: rgba($color-searchbox-bg, 0.75);
  border: 3px solid rgba($color-searchbox-bd, 0.5);
  box-shadow: inset 2px 2px 2px darken($color-searchbox-bd, 10%),
              2px 2px 2px darken($color-searchbox-bd, 10%);
  color: rgba($color-txt-primary, 0.5);
  border-radius: $height-searchbox / 2;
  font-family: $font-family;
  font-size: $font-size-secondary;
  text-shadow: 1px 1px 1px $color-txt-shadow,
               2px 2px 1px $color-txt-shadow;
  caret-color: lighten($color-txt-primary, 10%);
  transition-property: font-size, background-color, border-color, color;
  transition-duration: $transition-time;
  transition-timing-function: linear;
  &::placeholder {
    color: rgba($color-txt-secondary, 0.5);
    font-family: $font-family;
    font-size: $font-size-secondary;
  }
  &:focus {
    outline: none;
    background-color: $color-searchbox-bg;
    color: $color-txt-primary;
    font-size: $font-size-primary;
    border-color: $color-searchbox-bd;
  }
}
