body {
  background-color: $color-bg-primary;
  @include flex($dir: column);
}

hr {
  width: 100%;
  margin-bottom: $photo-gutter;
  color: #80ffcc;
  border: 3px solid rgba(darken($color-bg-primary, 25%), 0.5);
}
